@import "./base.css";

#mve-main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.mve-mt-10 {
  margin-top: 10px;
}
.mve-mb-10 {
  margin-bottom: 10px;
}

.mve-row {
  display: block;
}
.mve-col {
  flex: 1;
  padding: 16px;
}
.mve-col-md {
  width: 100%;
  padding: 16px;
}

.mve-flex-row {
  display: flex;
  flex-direction: column;
}

.mve-flex-col {
  flex: 1;
}

@media (min-width: 1024px) {
  .mve-flex-row {
    flex-direction: row;
  }
}

.mve-card {
  margin: 6px;
  padding: 10px;
  border: 1px solid #636060;
  border-radius: 5px;
  min-width: 250px;
}
.mve-card p {
  padding: 8px;
}

.mve-form-check-input {
  margin-right: 10px !important;
}

.mve-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.mve-buttons .mve-btn {
  font-size: 11px;
  padding: 6px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
  background-color: #7d7d7d;
}

.mve-buttons .mve-btn:hover {
  background-color: #c3c3c3;
}

.mve-buttons .mve-btn.loading {
  background-color: #e91e63;
  color: #1a1a1a;
  cursor: not-allowed;
}

#wp-melma-vue-emit-events p {
  margin: 16px 0;
}

#wp-melma-vue-emit-events pre {
  background-color: #101010;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #636060;
}

#wp-melma-vue-emit-events em,
#wp-melma-vue-emit-events .mve-code,
#wp-melma-vue-emit-events code {
  color: #8bc34a;
}
#wp-melma-vue-emit-events code {
  background-color: #252525de !important;
}

#wp-melma-vue-emit-events .mve-code {
  font-size: 10px;
}

.mve-bg_red {
  background-color: #e91e63;
  color: #1a1a1a;
}
.mve-bg_green {
  background-color: #8bc34a;
  color: #1a1a1a;
}

.mve-value_false {
  color: #8bc34a;
}
.mve-value_true {
  color: #e91e63;
}

@media (min-width: 1024px) {
  #wp-melma-vue-emit-events {
    /* display: flex; */
    /* place-items: center; */
  }

  #mve-main {
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    padding: 0 2rem;

    display: block;
  }

  .mve-row {
    display: flex;
    justify-content: space-between;
  }
  .mve-col-md {
    margin: 0;
  }
}
